.stage {
  height: 340px;
  padding: 32px;
  margin: 32px auto;
  background-color: #efefef;
  border-radius: 8px;
}

.stage__header {
  display: flex;
  justify-content: space-between;
  margin-bottom: 32px;
}

.stage__mistakes,
.stage__score {
  text-align: center;
  margin-bottom: 64px;
  font-size: 16px;
  color: white;
  border-radius: 8px;
  padding: 12px;
  margin: 4px;
}

.stage__mistakes {
  background-color: rgba(225, 0, 0, 0.728);
}

.stage__score {
  background-color: rgb(11, 93, 200);
}

.stage__words {
  display: flex;
  flex-direction: column;
  justify-content: center;
  flex-wrap: wrap;
  align-items: center;
}
