@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;700&display=swap');

* {
  box-sizing: border-box;
}

html {
  font-family: 'Open Sans', sans-serif;
}

.container {
  width: 600px;
  margin-right: auto;
  margin-left: auto;
}

.title {
  text-align: center;
  margin-top: 32px;
  margin-bottom: 32px;
}

.letter {
    display: inline-flex;
    justify-content: center;
    align-items: center;
    width: 45px;
    height: 45px;
    margin: 5px;
    border-radius: 6px;
    font-size: 32px;
    background: radial-gradient(circle at 50% 50%, 
        #ffffff 0%, 
        #f0f0f0 70%, 
        #d0d0d0 100%
    );
    box-shadow: 
        /* Vnitřní stín pro mírné zahloubení */
        inset 0 1px 1px rgba(0, 0, 0, 0.1),
        /* Zúžení horní hrany dolní strany klávesy */
        0 1px 0 rgba(255, 255, 255, 0.5),
        /* Stín klávesy pro zvednutý efekt */
        0 3px 0 0 #a0a0a0,
        /* Stín pod klávesou */
        0 3px 5px 0 rgba(0, 0, 0, 0.3); 
}
